:root {
    --background: rgb(32, 32, 32);
    --background2: rgb(15, 15, 15);
    --font: rgb(255, 255, 255);
    --accent: rgb(34, 114, 138);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: rgb(255, 255, 255);
        --background2: rgb(240, 240, 240);
        --font: rgb(3, 3, 3);
        --accent: rgb(52, 157, 189);
    }
}

body {
    color: var(--font);
    font-family: Inter;
    background-color: var(--background);
    user-select: none;
}
label{
    background-color: #444444;
    padding: 1%;
    cursor: pointer;
}
#source-scene-area {
    display: flex;
}

.scbank {
    margin-right: 20px;
    min-width: max-content;
}

.add {
    cursor: pointer;
    border: 2px solid var(--font);
    border-radius: 50%;
    margin-inline: 8px;
    transition: 0.2s ease-in-out;
}

.add:hover {
    color: var(--accent);
    border: 2px solid var(--accent);
}

input, button, select {
    border: 2px solid var(--accent);
    border-radius: 6px;
    background-color: var(--background2);
    color: var(--font);
    
}

#log > *:first-child {
    margin-top: 0px;
}

#log {
    margin-bottom: 2em;
    max-height: 20rem;
    height: 20rem;
    overflow-y: scroll;
    background-color: var(--background2);
    padding: 4px;
    border-radius: 6px;
}
.scene-manager{
    width: 100%;
    background-color: #222222;
    color:white;
    display: flex;
}
#src-box{
    width: 50%;
}
#src-scenes{
    display: flex;
    overflow-x: scroll;
    margin-top: 2%;
}
#dest-box{
    width: 50%;
}
#dest-scenes{
    display: flex;
    overflow-x: scroll;
    margin-top: 2%;
}
.bankSlot{
    background-color: #333333;
    width: 10em;
}
.singleScene{
    background-color: #444444;
    width: calc(100% - 2em);
    height: 5em;
    margin: 1em;
    text-align: center;
}
.sceneMover{
    background-color: #222222;
    border-radius: 0.75em;
    width: fit-content;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-left: 2em;

}
#banksel_menu{
    background-color: #444444;
    width: 10em;
    padding: 1em;
    position: absolute;
    top: 200px;
    left: 100px;
    overflow-y: scroll;
}
.banksel_item{
    background-color: #aaaaaa;
    margin: 0.2em;
}
#invisible{
    display: none;
}
.addBank{
    background-color: #333333;
    margin: 0.1em;
    padding: 0.2em;
}